In [7]:
import numpy as np

In [69]:
def create_user(user_id, params={}):
    result = ""
    w = params['watercrazy'] if 'watercrazy' in params else 0.3
    e = params['electrocrazy'] if 'electrocrazy' in params else 0.3
    result += '''INSERT INTO person(person_id, name, surname, paternal_name, registration_date, email, password_hash, is_admin) 
    VALUES ({0}, 'test{0}', 'test{0}', '', '01/01/2012', 'test{0}', '098f6bcd4621d373cade4e832627b4f6', false);'''.format(user_id)
    result += '\n'
    result += '''INSERT INTO dweller VALUES ({});\n'''.format(user_id)
    result += '''INSERT INTO flat(flat_id, area, flat_number, balance, cladr_id, building_id)
    VALUES ({0}, {1}, {0}, 0, 1, 1);\n'''.format(user_id, np.random.randint(60, 320))
    result += '''INSERT INTO dweller_lives_in_flat(person_id, flat_id)
    VALUES ({0}, {0});\n'''.format(user_id)
    result += '''INSERT INTO meter(meter_id, installation_date, type, title, meter_unit_id, active, flat_id)
    VALUES ({0}, '2012-01-01', 'Water', 'Cold water in kitchen test{1}', 1, true, {1});\n'''.format(user_id*2, user_id)
    result += '''INSERT INTO meter(meter_id, installation_date, type, title, meter_unit_id, active, flat_id)
    VALUES ({0}, '2012-01-01', 'Electricity', 'Electricity in hall test{1}', 2, true, {1});\n'''.format(user_id*2 + 1, user_id)
    result += create_meter_readings(user_id*2, w, number=np.random.randint(5, 15))
    result += create_meter_readings(user_id*2 + 1, e, number=np.random.randint(5, 15))
    result += '\n'
    return result

In [92]:
with open("script_allnotpaid.sql", 'w') as f:
    for i in range(10, 510):
        params = {}
        if np.random.rand() > 0.5:
            params['watercrazy'] = np.random.rand()
        if np.random.rand() > 0.5:
            params['electrocrazy'] = np.random.rand()
        f.write(create_user(i, params=params))

In [91]:
def create_meter_readings(meter_id, craziness, number=10):
    result = ""
    counter = 1
    start_value = np.random.randint(1, 300)
    paid_amount = np.random.randint(1, 7) + 3
    for i in range(number):
        paid = 'false'
        if i < paid_amount:
            paid = 'true'
        counter += np.random.randint(1, 15)
        date = "'" + '2012-' + str(counter // 27 + 1) + "-" + str(counter % 27 + 1) + "'"
        max_val = 100*craziness
        if max_val < 5: max_val = 5
        start_value += np.random.randint(1, max_val)
        result += '''INSERT INTO Meter_reading(value, date, paid, meter_id)
        VALUES ({}, {}, {}, {});\n'''.format(start_value, date, paid, meter_id)
    return result

In [87]:
print(create_meter_readings(5, 0.5))

INSERT INTO Meter_reading(value, date, paid, meter_id)
        VALUES (259, true, '2012-1-13', 5);
INSERT INTO Meter_reading(value, date, paid, meter_id)
        VALUES (268, true, '2012-1-27', 5);
INSERT INTO Meter_reading(value, date, paid, meter_id)
        VALUES (293, true, '2012-2-13', 5);
INSERT INTO Meter_reading(value, date, paid, meter_id)
        VALUES (310, true, '2012-2-20', 5);
INSERT INTO Meter_reading(value, date, paid, meter_id)
        VALUES (314, true, '2012-3-1', 5);
INSERT INTO Meter_reading(value, date, paid, meter_id)
        VALUES (359, true, '2012-3-11', 5);
INSERT INTO Meter_reading(value, date, paid, meter_id)
        VALUES (386, true, '2012-3-14', 5);
INSERT INTO Meter_reading(value, date, paid, meter_id)
        VALUES (418, false, '2012-3-24', 5);
INSERT INTO Meter_reading(value, date, paid, meter_id)
        VALUES (440, false, '2012-4-6', 5);
INSERT INTO Meter_reading(value, date, paid, meter_id)
        VALUES (455, false, '2012-4-20', 5);